<section id="about" class="min-h-screen pt-24 max-w-7xl mx-auto px-6 flex items-center">

  <div class="grid md:grid-cols-[1.3fr_1fr] gap-4 items-stretch w-full">

    <div
      style="
        opacity:0;
        animation: slideLeft 0.8s ease-out forwards 0.2s;
      "
      class="bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl p-12 md:p-16 shadow-xl shadow-black/30 flex flex-col justify-center"
    >
      <p class="text-blue-400 mb-4 text-sm tracking-widest uppercase">
        Web Developer
      </p>

      <h2 class="text-6xl md:text-7xl font-bold leading-tight mb-6">
        <span class="text-blue-400">Iván Siles</span>
      </h2>

      <p class="text-slate-400 text-xl mb-10">
        Passionate web developer focused on building clean, responsive, and user-friendly digital experiences. I enjoy solving problems, learning new technologies, and turning ideas into practical web solutions. 
      </p>
    </div>

    <div
      style="
        opacity:0;
        animation: slideDown 0.8s ease-out forwards 0.5s;
      "
      class="relative flex items-stretch"
    >
      <div class="absolute w-[450px] h-[450px] bg-blue-500/20 blur-[140px] rounded-full"></div>
      <img
        src="public/untitled.png"
        class="relative w-full h-full object-cover rounded-2xl border border-white/10 shadow-2xl"
      />
    </div>

  </div>

  <style>
    @keyframes slideLeft {
      0% { opacity: 0; transform: translateX(-60px); }
      100% { opacity: 1; transform: translateX(0); }
    }

    @keyframes slideDown {
      0% { opacity: 0; transform: translateY(-60px); }
      100% { opacity: 1; transform: translateY(0); }
    }
  </style>

</section>